<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todos os usuários</title>
  </head>
  <body>
    {{ if . }}<h4 style="color: red;">{{ . }}</h4>{{ end }}
    <form method="post" enctype="multipart/form-data">
      <input name="username" type="text" placeholder="Username">
      <input name="name" type="text" placeholder="Name">
      <input name="email" type="text" placeholder="Email">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
